:root{
    --color-background: hsl(321 5% 18%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    background: var(--color-background);
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: var(--color-background);
    padding-right: 10rem;
}
.loading_title{
    color: #ffffff;
    height: 5em;
    width: 5em;
}